body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logi {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  /* background-color: black;
   */
  background-size: cover;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/plateheart-170b5.appspot.com/o/assets%2FScreenshot%202022-03-21%20at%2016.39.38.png?alt=media&token=6c6f7ccc-44db-40df-9f33-2e03ec044652s");
}
input {
  padding: 12px;
  margin: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 4px #ccc;
  border-radius: 6px;
  font-size: 18px;
  width: 93%;
}

.container {
  box-shadow: 0 1px 6px #ccc;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 22px;
}

.container > p {
  cursor: pointer;
  margin: 100px;
}

.form {
  width: 100%;
}

.form > h2 {
  text-align: center;
}

.form > form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form > form > p {
  cursor: pointer;
}

.error {
  background-color: tomato;
  color: white;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: bold;
  max-width: 400px;
  margin-bottom: 18px;
}
