.logoAbout {
  margin-top: 20px;
  width: 50px;
  opacity: 90%;
  height: auto;
}
.welcometext {
  font-family: GothamLight, serif;
  color: white;
}
.publicitylogo {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 420px;
  height: auto;
}
.textpublicity {
  width: 400px;
  height: auto;
}
.backgroundAbout {
  height: 110vh;
  width: 100%;
  /* background-color: red; */
  background-size: cover;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/plateheart-170b5.appspot.com/o/assets%2FaboutBackground.png?alt=media&token=019efe92-7948-46bb-a9ca-85f473ebed7e");
}
.Startnow {
  background-color: white;
  font-family: GothamLight, serif;
  border: none;
  color: black;
  padding: 12px;
  margin: 12px 0;
  box-shadow: 0 1px 6px #ccc;
  margin-top: 100%;
  margin-bottom: 40px;
  /* width: 25%; */
  border-radius: 30px;
  font-size: 18px;
}
.downarrowgif {
  width: 250px;
  height: auto;
}
