input[type="text"],
input[type="plate"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  height: 50px;
}

input[type=" submit"] {
  width: 80%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.namefield {
  /* font-weight: bold;  */
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(33, 0, 0);
}
.save {
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  float: center;
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 8px white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  /* font-weight: bold; */
  font-size: 20px;
  /* line-height: 25px; */
  border-radius: 30px;
  /* margin-top: 420px; */
  border-color: white;
}
.input {
  font-size: 40px;
  width: 50%;
}
.between {
  width: 100%;
  /* position: relative;
  left: -700px; */
  /* top: 2px; */
  height: auto;
}
.AddprofilePhoto {
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* border-radius: 50%; */
}
.agree {
  font-size: 15px;
  color: grey;
}
