input[type="text"],
input[type="plate"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  height: 50px;
}

input[type=" submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #505050;
}

.namefield {
  /* font-weight: bold;  */
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(33, 0, 0);
}
.save {
  background-color: transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  float: center;
  color: #f85464;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  border-radius: 30px;
  margin-top: 50px;
  border-color: #060505;
}
.between {
  width: 100%;
  /* position: relative;
  left: -700px; */
  /* top: 2px; */
  height: auto;
}
