.styled-table {
  margin: auto;
  /* font-size: 0.9em; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* max-width: 800px; */
}
.texttap {
  font-size: 15px;
  background-color: #f85464;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* border-style: outset; */
}
.body {
  background-color: #f0f2f4;
  /* height: 100vh; */
}
.test .styled-table thead tr {
  background-color: #e3b543;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 5px 5px;
  background-color: #f4eeee;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-tabletbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-tabletbody tr:last-of-type {
  border-bottom: 2px solid #e3b543;
}

.btn {
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  font-family: monospace;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.keyf {
  font-weight: bold;
  font-size: 20px;
}
.between {
  width: 100%;
  /* position: relative;
  left: -700px; */
  /* top: 2px; */
  height: auto;
}
.head-text {
  position: relative;
}
.text-on-image {
  font-size: 140%;
  position: relative;
  font-weight: lighter;
  top: -160px;
  right: -20px;

  /* left: 45%; */
  /* bottom: 15%;  */
}

.head-image {
  margin-left: 20px;
  width: 95%;
  height: auto;
}
.viewbutton {
  background: transparent;
  border: none !important;
  /* font-size: 0; */
}
