.styled-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.body {
  background-color: #2d3338;
  height: 100%;
}

.styled-table thead tr {
  background-color: #e3b543;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
  background-color: #f4eeee;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-tabletbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-tabletbody tr:last-of-type {
  border-bottom: 2px solid #e3b543;
}

.btn {
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.keyf {
  font-weight: bold;
  font-size: 20px;
}
