.styled-table {
  margin: -20px;
  /* font-size: 0.9em; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.texttap {
  font-size: 15px;
  background-color: #f85464;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.body {
  background-color: #f0f2f4;
  height: 100vh;
}
.test .styled-table thead tr {
  background-color: #e3b543;
  color: #ffffff;
  text-align: left;
}

.styled-tabletbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.btn {
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  font-family: monospace;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
.body {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/plateheart-170b5.appspot.com/o/assets%2Fcarparking.png?alt=media&token=4e26f533-be9b-46d0-8706-443b82c0875f");
  background-size: cover;
}
.keyf {
  font-weight: bold;
  font-size: 20px;
}
.between {
  width: 100%;
  /* position: relative;
  left: -700px; */
  /* top: 2px; */
  height: auto;
}

.text-on-image {
  font-size: 140%;
  position: relative;
  font-weight: lighter;
  top: -160px;
  right: -20px;

  /* left: 45%; */
  /* bottom: 15%;  */
}

.head-image {
  width: 100%;
  height: auto;
  margin-left: -40px;
}
.viewbutton {
  background: transparent;
  border: none !important;
  /* font-size: 0; */
}
.search:hover {
  background-color: rgb(206, 206, 206);
}
.search {
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  float: center;
  color: rgb(151, 150, 150);
  box-shadow: 2px 2px 8px white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  /* font-weight: bold; */
  font-size: 20px;
  line-height: 25px;
  border-radius: 30px;
  margin-top: 420px;
  border-color: white;
}
.inputField {
  width: 85% !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: white;
  box-shadow: 2px 2px 8px white;
  /* text-align: center; */
  padding: 1px;
  /* position: relative; */
  margin-top: -20px;
  margin-right: 10px;
  font-size: 20px;
  /* font-weight: bold; */
}
.getting {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 23px;
}
