.myplatecss {
  margin-top: -4%;

  font-size: 30px;
  background-color: #f85464;
  font-family: GothamLight, serif;
  border: none;
  color: white;
  font-weight: bold;
  /* padding: 1px; */
  /* margin: 12px 0; */
  box-shadow: 0px 1px 6px #f85464;
  /* margin-top: 40px; */
  /* margin-bottom: 80px; */
  /* width: 25%; */
  border-radius: 6px;
  position: absolute;
}
/* .body {
  height: 100vh;
} */

.caricon {
  width: 220px;
  height: auto;
}

.myname {
  /* top: 20%; */

  font-family: GothamLight, serif;
  /* float: inherit; */
  color: black;
  /* padding: 13px; */
  text-decoration: none;
  font-size: 35px;
  /* opacity: 70%; */
  border-color: rgb(255, 255, 255);
  margin: 0;
  position: absolute;
  border-radius: 0.1px;
  /* width: 100%; */
  /* top: 10%; */
  margin-top: -13%;
  margin-left: 5%;
  /* top: 65%;
  left: 50%; */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
/* .nametitle {
  margin-top: 12%;
  font-weight: bold;
  text-align: left;
} */
.emailtitle {
  margin-top: 18%;
  font-weight: bold;
  text-align: left;
  opacity: 0%;
}
.instargramtitle {
  margin-top: 25%;
  font-weight: bold;
  text-align: left;
  opacity: 0%;
}
.myemail {
  /* background-color: #f85464; */
  font-family: GothamLight, serif;
  float: inherit;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  opacity: 90%;
  border-color: rgb(255, 255, 255);
  margin: 0;
  position: absolute;
  /* border-radius: 0.5px; */
  /* width: 100%; */
  margin-top: 5%;
  border-radius: 35px;
  background: #f85464;
  padding: 15px;
}
.myinstagram {
  background-color: white;
  font-family: GothamLight, serif;
  float: inherit;
  color: black;
  padding: 15px;
  text-decoration: none;
  font-size: 16px;
  opacity: 90%;
  border-color: rgb(255, 255, 255);
  margin: 0;
  position: absolute;
  /* border-radius: 0.1px; */
  /* width: 100%; */
  margin-top: -10px;
  border-radius: 35px;
  background: #f85464;

  /* top: 85%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.profilePhoto {
  width: 100%;
  height: 30%;
  margin-top: -20%;
  object-fit: cover;
  position: relative;
  /* border-radius: 100%; */
}
#myplatecontainer {
  top: 50%;
  left: 0%;
  position: absolute;
  border-radius: 25px;
  /* border: 2px solid #73ad21; */
  background-color: #f0f2f4;
  padding: 5%;
  width: 90%;
  height: 15%;
}

.circular {
  height: 100px;
  width: 100px;
  margin-left: 270px;
  margin-top: -70px;
  position: absolute;
  transform: scale(0.6);
}
.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: white;
  border-radius: 100%;
}
.circular .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: #f85464;
}
.circle .left .progress {
  z-index: 1;
  animation: left 4s linear both;
}
@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}
.circle .right {
  transform: rotate(180deg);
  z-index: 3;
}
.circle .right .progress {
  animation: right 4s linear both;
  animation-delay: 4s;
}
@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}
