.result {
  /* margin-left: 1000px; */
  /* margin-top: 20px;
  margin-bottom: 20px; */
  font-size: 25px;
  background-color: #f85464;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;
  color: white;
  font-weight: bold;
  /* padding: 1px; */
  /* margin: 12px 0; */
  box-shadow: 0 1px 6px #ccc;
  /* margin-top: 40px; */
  /* margin-bottom: 80px; */
  /* width: 25%; */
  border-radius: 10px;
  margin: 20px auto;
  width: 370px;
  /* border: 3px solid; */
  padding: 10px;
}
/* .body {
  height: 100vh;
} */
.delete:hover {
  background-color: black;
}
.delete {
  background-color: transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  float: center;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border-color: black;
}
