.result {
  font-size: 30px;
  background-color: #f85464;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;
  color: white;
  font-weight: bold;
  /* padding: 1px; */
  /* margin: 12px 0; */
  box-shadow: 0 1px 6px #ccc;
  /* margin-top: 40px; */
  /* margin-bottom: 80px; */
  /* width: 25%; */
  border-radius: 6px;
}
/* .body {
  height: 100vh;
} */

.caricon {
  width: 220px;
  height: auto;
}
.top {
  float: left;
  margin-left: 20%;
}

.profilePhoto {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
