.profilePhotoLike {
  width: 60px;
  height: 60px;
  display: flex;
  object-fit: cover;
  border-radius: 50%;
}
.profilePlateLike {
  margin-bottom: 19px;
}

.likePhotoNotification {
  margin-top: 30%;
  width: 20%;
  height: auto;
}

/* Create two equal columns that floats next to each other */
.column {
  display: flex;
  flex-direction: column-reverse;
  float: left;
  /* width: 10%; */

  padding: 6px;
  /* margin-top: 20px; */
}

/* Clear floats after the columns */
.row:after {
  flex-direction: column-reverse;
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 15px) {
  .column {
    width: 100%;
  }
} */
