.loadingsearch {
  width: 300px;
  margin-bottom: 10px;
  /* margin-left: 40px; */
  height: auto;
}
.text-on-image {
  margin-left: -40px;
  margin-top: 200px;
  font-size: 30px;
  background-color: #f85464;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;
  color: white;
  font-weight: bold;
  /* padding: 1px; */
  /* margin: 12px 0; */
  box-shadow: 0 1px 6px #ccc;
  /* margin-top: 40px; */
  /* margin-bottom: 80px; */
  /* width: 25%; */
  border-radius: 6px;
}
.resultPlate {
  font-size: 35px;
  color: white;
  background-color: #f24d51;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;
  text-decoration: none;
  font-weight: bold;
  padding: 1px;
  margin: 10px 80px;
  box-shadow: 0 1px 6px #ccc;
  /* margin-top: 40px; */
  /* margin-bottom: 80px; */
  /* width: 25%; */
  border-radius: 6px;
}
.searchbackground {
  background-size: cover;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/plateheart-170b5.appspot.com/o/assets%2Fview.png?alt=media&token=14a0fc55-1b21-4ee3-8be3-61d80d93924c");
  height: 110vh;
}
