.delete {
  background-color: transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  float: inherit;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  border-radius: 30px;
  margin-top: 100px;
  /* margin-left: 30px;
    margin-right: 30px; */
  border-color: black;
  display: block;
}
