.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px red solid;
  align-content: center;
  margin: 0 auto;
}
.arrowbackview {
  position: absolute;
  padding: 16px;
  /* background-color: white; */
  border-radius: 16px;
  bottom: 10px;
  /* color: white; */
  left: 2%;
  top: 2%;
  width: 15px;
}
.card-header {
  height: 30%;
  background: #5d6770;
  color: white;
  text-align: center;
}

.card-header p {
  font-size: 20px;
}

.container {
  padding: 4px 16px;
}
.resize {
  width: 400px;
  height: auto;
}

.goback {
  background-color: black;
  float: center;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 15px;
  border-radius: 4px;
}
.instagram {
  width: 70px;
  height: auto;
}
.result {
  font-size: 30px;
  background-color: #f85464;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;

  font-weight: bold;
  padding: 1px;
  margin: 10px 80px;
  box-shadow: 0 1px 6px #ccc;
  /* margin-top: 40px; */
  /* margin-bottom: 80px; */
  /* width: 25%; */
  border-radius: 6px;
}
.profilePhotoview {
  width: 100%;
  height: 30%;
  margin-top: -20%;
  object-fit: cover;
  /* position: relative; */
  /* border-radius: 100%; */
}
#myplatecontainerview {
  top: 50%;
  left: 0%;
  position: absolute;
  border-radius: 25px;
  /* border: 2px solid #73ad21; */
  background-color: #f0f2f4;
  padding: 5%;
  width: 90%;
  height: 15%;
}
.mynameview {
  /* top: 20%; */

  font-family: GothamLight, serif;
  /* float: inherit; */
  color: black;
  /* padding: 13px; */
  text-decoration: none;
  font-size: 35px;
  /* opacity: 70%; */
  border-color: rgb(255, 255, 255);
  margin: 0;
  position: absolute;
  border-radius: 0.1px;
  /* width: 100%; */
  /* top: 10%; */
  margin-top: -13%;
  margin-left: 5%;
  /* top: 65%;
  left: 50%; */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
.myplatecssview {
  margin-top: -4%;

  font-size: 30px;
  background-color: #f85464;
  font-family: GothamLight, serif;
  border: none;
  color: white;
  font-weight: bold;
  /* padding: 1px; */
  /* margin: 12px 0; */
  box-shadow: 0px 1px 6px #f85464;
  /* margin-top: 40px; */
  /* margin-bottom: 80px; */
  /* width: 25%; */
  border-radius: 6px;
  position: absolute;
}
