.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px red solid;
  align-content: center;
  margin: 0 auto;
}

.card-header {
  height: 30%;
  background: #5d6770;
  color: white;
  text-align: center;
}

.card-header p {
  font-size: 20px;
}

.container {
  padding: 4px 16px;
}
.resize {
  width: 400px;
  height: auto;
}

.goback {
  background-color: black;
  float: center;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 15px;
  border-radius: 4px;
}
.result {
  border-style: solid;
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
