.loadingScreen {
  background: radial-gradient(
    ellipse at left bottom,
    #f85464,
    #f85464,
    rgb(186, 29, 29) 100%
  );
  height: 110vh;
}

.logoonLoading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -20px;
  width: 15%;
  transform: scale(1);
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
}
