.container {
  /* background-color: black; */
  /* background-image: url("https://firebasestorage.googleapis.com/v0/b/plateheart-170b5.appspot.com/o/assets%2Fauthbackground.png?alt=media&token=63a271e2-26c1-4c60-8b19-7a2428ce1517"); */
  background-size: cover;
}
