.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: whitesmoke;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5%;
  width: 100%;
}
.logofooter {
  width: 50px;
  margin: 0px 70px;
  height: auto;
}
