.footer {
  margin-top: 1rem;
  margin-left: -14px;
  padding: 1rem;
  background-color: whitesmoke;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 2%;
  width: 100%;
}
.logofooter {
  width: 5.6%;
  margin: -10px 40px;
  height: auto;
}
.notification {
  background-color: transparent;
  color: white;
  text-decoration: none;
  padding: -5px 5px;
  position: relative;
  /* display: inline-block; */
  /* border-radius: 2px; */
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: #ec5758;
  color: white;
}
