.footer {
  margin-top: 1rem;
  margin-left: -14px;
  padding: 1rem;
  background-color: whitesmoke;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 2%;
  width: 100%;
}
.logofooter {
  width: 30px;
  margin: -10px 40px;
  height: auto;
}
