.header {
  overflow: hidden;
  /* background-color: #f85464; */
  margin-bottom: 50px;
}

.header p {
  float: left;
  color: white;
  margin: 10px 100px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 15px;
  border-radius: 4px;
}
.logo {
  width: 250px;
  /* position: relative;
  left: -700px; */
  /* top: 2px; */
  height: auto;
}

.header p.logo {
  font-size: 23px;
  font-weight: bold;
  color: #4284f5;
}
.inputField {
  width: 85% !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #f0f2f4;
  padding: 1px;
  margin-top: 5px;
  margin-right: 10px;
  border: none;
  font-size: 15px;
}
.header p:hover {
  /* background-color: #ddd; */
  color: #5d6770;
}
.header p.active {
  background-color: rgb(2, 2, 2);
  color: white;
  margin: 15px 100px;
}

.header-right {
  float: center;
}

@media screen and (max-width: 500px) {
  .header p {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
