.header {
  overflow: hidden;
  background-color: #f85464;
}

.header p {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 15px;
  border-radius: 4px;
}
.logo {
  width: 250px;
  /* position: relative;
  left: -700px; */
  /* top: 2px; */
  height: auto;
}

.header p.logo {
  font-size: 25px;
  font-weight: bold;
  color: #4284f5;
}
.inputField {
  width: 35% !important;
  background-color: #f0f2f4;
  padding: 1px;
  margin-top: 5px;
  margin-right: 10px;
  border: none;
  font-size: 15px;
}
.header p:hover {
  background-color: #ddd;
  color: #5d6770;
}
.header p.active {
  background-color: black;
  color: white;
}

.header-right {
  float: center;
}

@media screen and (max-width: 500px) {
  .header p {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
