.header {
  overflow: hidden;
  background-color: #2d3338;
}
.header p {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 15px;
  border-radius: 4px;
}
.logo {
  margin: 0;

  text-align: center;
  width: 100%;
}
.header p.logo {
  font-size: 25px;
  font-weight: bold;
  color: #4284f5;
}
.inputField {
  width: 45% !important;
  background-color: #4e5961;
  padding: 1px;
  margin-top: 5px;
  margin-right: 6px;
  border: none;
  font-size: 15px;
}
.header p:hover {
  background-color: #ddd;
  color: #5d6770;
}
.header p.active {
  background-color: #e3b543;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header p {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
