.loginlogo {
  width: 80px;
  height: auto;
}
.loginlogotext {
  width: 200px;
  height: auto;
}
.buttonSignin:hover {
  background-color: #f85464;
}
.buttonSignin {
  background-color: transparent;
  border: none;
  color: black;
  padding: 12px;
  margin: 20px 0;
  box-shadow: 0 1px 6px #ccc;
  width: 50%;
  border-radius: 6px;
  font-size: 18px;
}
.form {
  background-color: transparent;
}
