.signuplogo {
  width: 300px;
  height: auto;
}

.buttonSignUp {
  font-family: GothamLight, serif;
  background-color: white;
  border: none;
  color: black;
  padding: 12px;
  font-family: GothamLight, serif;
  margin: 20px 0;
  box-shadow: 0 1px 6px #ccc;
  width: 50%;
  border-radius: 6px;
  font-size: 18px;
}
