.loginlogo {
  width: 45px;
  height: auto;
  position: absolute;
  top: 6px;
  right: 68%;
}
.loginlogotext {
  width: 200px;
  height: auto;
  position: absolute;
  top: 0px;
  right: 20%;
}

.buttonSignin {
  background-color: white;
  border: none;
  color: black;
  padding: 12px;
  margin: 20px 0;
  font-family: GothamLight, serif;
  box-shadow: 0 1px 6px #ccc;
  width: 50%;
  border-radius: 6px;
  font-size: 18px;
}
.form {
  background-color: transparent;
}

.logi {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  /* background-color: black;
   */
  background-size: cover;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/plateheart-170b5.appspot.com/o/assets%2FaboutBackground.png?alt=media&token=019efe92-7948-46bb-a9ca-85f473ebed7e");
}

.showSignIn:disabled {
  opacity: 0%;
}
.showSignIn {
  position: relative;

  top: 200px;
  /* margin-top: 200px; */
  right: 0%;
  background-color: transparent;
  font-family: GothamLight, serif;
  float: center;
  color: white;
  box-shadow: 2px 2px 8px white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  /* font-weight: bold; */
  font-size: 27px;
  line-height: 25px;
  border-radius: 30px;
  /* margin-top: 420px; */
  border-color: white;
}
